# Ignore compiled Python files
*.pyc

# Ignore the virtual environment
venv/

# Ignore the Django settings file
settings.py

# Ignore the database file
db.sqlite3

# Ignore static files
staticfiles/

# Ignore media files
media/

# Ignore log files
*.log

# Ignore cache files
__pycache__/

# Ignore environment-specific files
.env

# Ignore IDE-specific files
.vscode/
.idea/
*.pydevproject
*.pyc
*.pyo
*.sage.py